.navbar{
    display: flex;
    justify-content: center;   
    color: rgb(5, 65, 114);
    background-color: aliceblue;

}
.navbar #sy{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar #sy h1{
    font-size: 16px;
}
.navbar #sy img{
    width: 34px;
    height: 34px;
    border-radius: 20px;
}
.navbar ul{
    margin: auto;
    display: flex;
    align-items: center;
}
.navbar ul li {
    color: rgb(5, 65, 114);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.navbar ul li a{
    color: rgb(5, 65, 114);
    text-decoration: none;
}